<!DOCTYPE html>
<html>
<head>
    <title>★<%= username %>★<%= title %>★</title>
    <% include common/favicon.ejs %>
    <!--[if !IE]><!-->
    <link rel="stylesheet" href="/lib/hui/c/hui.css">
    <link rel="stylesheet" href="/c/index.css">
    <!--<![endif]-->
</head>
<body>
<!--[if !IE]><!-->
<h1 class="main-title" style="font-size: 28px;">
    <span>welcome to <a href="javascript:void(0);" class="explorer-link btn-link" path="<%= installPath %>"><%= title %></a> - <%= username %></span>
    <span> 这里属于你自己的邮乐前端开发环境</span>
</h1>

<header class="navbar-wrapper">
    <div class="navbar navbar-black">
        <div class="container cl">
            <a aria-hidden="false" class="nav-toggle Hui-iconfont visible-xs" href="javascript:;">&#xe667;</a>
            <nav class="nav navbar-nav nav-collapse" role="navigation" id="Hui-navbar">
                <ul id="nav" class="cl">
                    <li class="current"><a href="#">项目</a></li>
                    <li><a href="#">资源管理</a></li>
                    <li><a href="#">日志</a></li>
                    <li><a href="#">邮乐</a></li>
                    <li><a href="#">技术栈</a></li>
                    <li><a href="#">文章</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>

<div class="info">
    项目文件管理, 项目文件发布beta, 发布生产;<br>
    在本地建立伪服务器帮助前端运行页面和调试页面;<br>
    压缩css（gulp-minify-css）;<br>
    js代码校验（gulp-jshint）;<br>
    合并js文件（gulp-concat）;<br>
    压缩js代码（gulp-uglify）;<br>
    压缩图片（gulp-imagemin）;<br>
    文件重命名 （gulp-rename）;<br>
    自动刷新页面（gulp-livereload）;<br>
    更改提醒（gulp-notify）;<br>
    合并js顺序（gulp-order）;<br>
    雪碧图合成（gulp-tmtsprite）;<br>
    <%include projects.ejs %>
</div>

<div class="info hide">
    GR编号 + 状态(进行中, 未开始, 已完成) + 任务名 + 平台(邮掌柜客户端, 邮掌柜APP, 邮助手等等) + WD人员 + PD人员 + PM人员 + UED人员 + UED地址
    问题1. 如何实现局域网通信
</div>

<div class="info hide">
    在这里可以建立个人的日志信息, 可以做成想小米便签一样的形式, 记录日常开发信息, 项目信息, 接口信息,
    例如:
</div>

<div class="info hide">
    <h6>资源发布/缓存清理</h6>
    <a href="http://cms.ulecn.tom.com/opencms/system/login/TomShopping/TomShopping-WD/" class="btn btn-warning radius size-MINI" target="_blank">Open CMS</a>
    <a href="http://portal.baishancloud.com/account/index/login" class="btn btn-warning radius size-MINI" target="_blank">白云山缓存清理</a>
    <a href="https://portal.chinanetcenter.com/cas/login?service=https%3A%2F%2Fsi.chinanetcenter.com%2Fr_sec_login" class="btn btn-warning radius size-MINI" target="_blank">新版CDN缓存</a>
    <a href="https://portal.chinanetcenter.com/cas/login?service=http%3A%2F%2Fmyview.chinanetcenter.com%2Fr_sec_login#0" class="btn btn-warning radius size-MINI" target="_blank">旧版CDN缓存（作废）</a>
    <h6>日常管理</h6>
    <a href-o="http://gr.uletm.com/pmdm/login.jsp" id="linkGR" class="btn btn-warning radius size-MINI" target="_blank">GR</a>
    <a href="http://beta.ule.com/wd/" class="btn btn-warning radius size-MINI" target="_blank">前端小组文档</a>
    <a href="http://wiki.uletm.com/dashboard.action" class="btn btn-warning radius size-MINI" target="_blank">ULE Wiki</a>
    <a href="http://tomauth.ule.cn/cas/login" class="btn btn-warning radius size-MINI" target="_blank">运营中心</a>
    <a href="http://cs.ule.com/csadmin/user_security_check.do" class="btn btn-warning radius size-MINI" target="_blank">业务管理平台</a>
    <a href="http://dm.uletm.com/dmv2/user!login.do" class="btn btn-warning radius size-MINI" target="_blank">系统发布平台</a>
    <h6>常用配置</h6>
    <a href="http://www.uledev.com/setting?type=ftp" class="btn btn-warning radius size-MINI" target="_blank">配置ftp</a>
    <a href="http://www.uledev.com/setting?type=print" class="btn btn-warning radius size-MINI" target="_blank">配置打印机</a>
    <a href="http://www.uledev.com/setting?type=upan" class="btn btn-warning radius size-MINI" target="_blank">配置共享盘</a>
    <a href="http://www.uledev.com/setting?type=opencms" class="btn btn-warning radius size-MINI" target="_blank">配置Opencms</a>
    <h6>uledev 开发与使用</h6>
    <a href="http://www.uledev.com/event" class="btn btn-warning radius size-MINI" target="_blank">创建活动</a>
    <a href="https://github.com/boat3471/uledev" class="btn btn-warning radius size-MINI" target="_blank">Uledev Github</a>
    <a href="https://www.npmjs.com/package/uledev" class="btn btn-warning radius size-MINI" target="_blank">Uledev NPM</a>
</div>

<div class="info hide">
    <h6>常用工具</h6>
    <a href="#" class="btn btn-warning radius size-MINI" target="_blank">base64</a>
    <a href="http://json.cn/" class="btn btn-warning radius size-MINI" target="_blank">JSON格式化</a>
    <h6>模块化开发</h6>
    <a href="http://seajs.org/docs/#intro" class="btn btn-warning radius size-MINI" target="_blank">seajs</a>
    <a href="http://requirejs.org/" class="btn btn-warning radius size-MINI" target="_blank">requirejs</a>
    <h6>第三方工具</h6>
    <a href="http://underscorejs.org/" class="btn btn-warning radius size-MINI" target="_blank">underscore.js</a>
    <a href="https://lodash.com/" class="btn btn-warning radius size-MINI" target="_blank">lodash</a>
    <a href="http://danieltao.com/lazy.js/" class="btn btn-warning radius size-MINI" target="_blank">lazy.js</a>
    <a href="http://momentjs.cn/" class="btn btn-warning radius size-MINI" target="_blank">momentjs</a>
    <a href="http://www.bootcdn.cn/date-fns/" class="btn btn-warning radius size-MINI" target="_blank">date-fns</a>
    <h6>CSS</h6>
    <a href="http://www.uledev.com/h/lib/css-optimize.html" class="btn btn-warning radius size-MINI" target="_blank">CSS 优化方案</a>
    <a href="http://www.uledev.com/h/lib/css-reset.html" class="btn btn-warning radius size-MINI" target="_blank">css reset</a>
    <a href="http://www.uledev.com/h/lib/css-function.html" class="btn btn-warning radius size-MINI" target="_blank">css function</a>
    <a href="http://nec.netease.com/" class="btn btn-warning radius size-MINI" target="_blank">网易CSS方案</a>
    <h6>UI</h6>
    <a href="http://www.bootcss.com/p/flat-ui/" class="btn btn-warning radius size-MINI" target="_blank">Flat UI</a>
    <a href="http://www.h-ui.net/index.shtml" class="btn btn-warning radius size-MINI" target="_blank">H-ui 官网</a>
    <a href="http://www.uledev.com/h/lib/sh.html" class="btn btn-warning radius size-MINI" data-toggle="tooltip" data-placement="right" title="SyntaxHighlighter" target="_blank">代码高亮使用</a>
    <h6>jQuery</h6>
    <a href="http://jquery.com/" class="btn btn-warning radius size-MINI" target="_blank">jQuery 官网</a>
    <a href="http://api.jquery.com/" class="btn btn-warning radius size-MINI" target="_blank">jQuery Api</a>
    <a href="http://jquery.cuishifeng.cn/" class="btn btn-warning radius size-MINI" target="_blank">jQuery Api CN</a>
    <a href="https://code.jquery.com/jquery/" class="btn btn-warning radius size-MINI" target="_blank">jQuery All Download</a>
    <h6>Nodejs</h6>
    <a href="https://nodejs.org/en/" class="btn btn-warning radius size-MINI" target="_blank">Nodejs</a>
    <a href="http://nodejs.cn/" class="btn btn-warning radius size-MINI" target="_blank">Nodejs CN</a>
    <h6>动效库</h6>
    <a href="http://greensock.com/tweenlite" class="btn btn-warning radius size-MINI" target="_blank">GreenSock-TweenLite（需翻墙）</a>
    <a href="http://ricostacruz.com/jquery.transit/" class="btn btn-warning radius size-MINI" target="_blank">jQuery.Transit</a>
    <a href="http://paperjs.org/" class="btn btn-warning radius size-MINI" target="_blank">Paper.js</a>
    <a href="http://visionmedia.github.io/move.js/" class="btn btn-warning radius size-MINI" target="_blank">Move.js</a>
    <a href="http://leaverou.github.io/animatable/" class="btn btn-warning radius size-MINI" target="_blank">animatable</a>
    <a href="http://www.createjs.com/" class="btn btn-warning radius size-MINI" target="_blank">Createjs</a>
    <h6>常用网站</h6>
    <a href="http://www.w3school.com.cn/index.html" class="btn btn-warning radius size-MINI" target="_blank">w3school</a>
</div>

<div class="info hide">
    <% articles.forEach(function(item){ %>
    <a href="<%= item.url %>" class="btn btn-warning radius size-MINI" target="_blank"><%= item.name %></a>
    <% }); %>
</div>
<!-- 登录模块 -->
<div id="modalLogin" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content radius">
            <div class="modal-header">
                <h3 class="modal-title">WD登录</h3>
                <a class="close" data-dismiss="modal" aria-hidden="true" href="javascript:void(0);">×</a>
            </div>
            <div class="modal-body">
                <form id="formLogin" method="get" action="">
                    <div><input id="loginname" name="loginname" type="text" required minlength="6" placeholder="用户名" class="input-text radius size-M"></div>
                    <div><input id="password" name="password" type="password" required minlength="6" placeholder="密码" class="input-text radius size-M"></div>
                    <input class="btn btn-primary radius" type="submit" value="登录">
                </form>
            </div>
        </div>
    </div>
</div>
<a id="loginIn" class="login-in">登录</a>

<script src="/m/sea.js"></script>
<script>seajs.use('/j/index');</script>
<script>
</script>
<!--<![endif]-->
<!--[if lte IE 9]>
<h1 style="text-align:center;">浏览器版本过低</h1>
<![endif]-->
</body>
</html>
<div style="display:none;">
    html判断IE版本
</div>
<!--<h2>如何创建邮乐活动？</h2>-->
<!--<ol>-->
<!--<li>安装Git, 如何安装请自行查阅资料</li>-->
<!--<li>安装Node.js, 如何安装请自行查阅资料</li>-->
<!--<li>全局安装 uledev, 命令: <code>npm install -g uledev</code></li>-->
<!--<li>创建个人活动开发目录</li>-->
<!--<li>执行初始化命令: <code>uledev event init</code></li>-->
<!--<li>执行创建命令: <code>uledev event</code></li>-->
<!--<li>按照命令行提示输入指定内容</li>-->
<!--<li>示例: <br><img src="/ulecdn/i/event-demo.png" alt=""></li>-->
<!--</ol>-->
<!--<a href="http://www.infoq.com/cn/articles/front-end-engineering-and-performance-optimization-part1"><h2>静态资源版本更新与缓存?</h2></a>-->
<!--<a href="http://www.infoq.com/cn/articles/front-end-engineering-and-performance-optimization-part2"><h2>静态资源管理与模板框架?</h2></a>-->
<!--<a href="http://www.infoq.com/cn/articles/front-end-engineering-pristine-part3"><h2>前端工程构建工具</h2></a>-->
<!--<a href="http://fis.baidu.com/"><h2>百度前端构建工具</h2></a>-->
<!--<h2>旧版CDN缓存用户名：tom_mv2  密码：tom_purge123</h2>-->
<!--<h2>白云山CDN缓存 ule_wd/Wd20161117</h2>-->