<!DOCTYPE html>
<html>
<head>
	<title>★<%= username %>★<%= title %>★</title>
	<% include common/favicon.ejs %>
	<link rel="stylesheet" href="/ulecdn/lib/h-ui/c/h-ui.min.css">
	<style>
		html, body { padding: 0; margin: 0; font: 12px "微软雅黑", "宋体";  }
		body { overflow-y: auto; min-width: 1010px; padding: 0 20px; }
		li { font-size: 12px; }
		code { font-family: Consolas; color: #8B2323; padding: 0 15px; }
		h1 i { vertical-align: middle; font-weight: bold; }
		h1 span { font-size: 12px; color: #ccc; font-weight: normal; padding-left: 20px; }
		table { border-collapse: collapse; }
		table td { text-align: center; }
		h6 { font-weight: bold; padding-left: 6px; }
		.panel-body a { margin: 3px; }
	</style>
</head>
<body>
<h1><i>welcome to <a href="javascript:void(0);" class="explorer-link btn-link" path="<%= installPath %>"><%= title %></a> - <%= username %></i><span> 这里属于你自己的邮乐前端开发环境</span></h1>
<hr>
<div class="panel panel-primary mt-20">
	<div class="panel-header">邮乐</div>
	<div class="panel-body">
		<a href="http://gr.uletm.com/pmdm/login.jsp" class="btn btn-warning radius size-MINI" target="_blank">GR</a>
		<a href="http://beta.ule.com/wd/" class="btn btn-warning radius size-MINI" target="_blank">前端小组文档</a>
		<a href="http://wiki.uletm.com/dashboard.action" class="btn btn-warning radius size-MINI" target="_blank">ULE Wiki</a>
		<a href="http://tomauth.ule.cn/cas/login" class="btn btn-warning radius size-MINI" target="_blank">运营中心</a>
		<a href="http://cs.ule.com/csadmin/user_security_check.do" class="btn btn-warning radius size-MINI" target="_blank">业务管理平台</a>
		<a href="http://dm.uletm.com/dmv2/user!login.do" class="btn btn-warning radius size-MINI" target="_blank">系统发布平台</a>
		<br>
		<a href="http://cms.ulecn.tom.com/opencms/system/login/TomShopping/TomShopping-WD/" class="btn btn-warning radius size-MINI" target="_blank">Open CMS</a>
		<a href="http://portal.baishancloud.com/account/index/login" class="btn btn-warning radius size-MINI" target="_blank">白云山缓存清理</a>
		<a href="https://portal.chinanetcenter.com/cas/login?service=https%3A%2F%2Fsi.chinanetcenter.com%2Fr_sec_login" class="btn btn-warning radius size-MINI" target="_blank">新版CDN缓存</a>
		<a href="https://portal.chinanetcenter.com/cas/login?service=http%3A%2F%2Fmyview.chinanetcenter.com%2Fr_sec_login#0" class="btn btn-warning radius size-MINI" target="_blank">旧版CDN缓存（作废）</a>
		<br>
		<a href="http://www.dev.ule.com/setting?type=ftp" class="btn btn-warning radius size-MINI" target="_blank">配置ftp</a>
		<a href="http://www.dev.ule.com/setting?type=print" class="btn btn-warning radius size-MINI" target="_blank">配置打印机</a>
		<a href="http://www.dev.ule.com/setting?type=upan" class="btn btn-warning radius size-MINI" target="_blank">配置共享盘</a>
		<a href="http://www.dev.ule.com/setting?type=opencms" class="btn btn-warning radius size-MINI" target="_blank">配置Opencms</a>
		<br>
		<a href="http://www.dev.ule.com/event" class="btn btn-warning radius size-MINI" target="_blank">创建活动</a>
		<a href="https://github.com/boat3471/uledev" class="btn btn-warning radius size-MINI" target="_blank">Uledev Document</a>
		<a href="https://www.npmjs.com/package/uledev" class="btn btn-warning radius size-MINI" target="_blank">Uledev NPM</a>
	</div>
</div>
<div class="panel panel-primary mt-20">
	<div class="panel-header">工具</div>
	<div class="panel-body">
		<a href="#" class="btn btn-warning radius size-MINI" target="_blank">base64</a>
		<a href="http://json.cn/" class="btn btn-warning radius size-MINI" target="_blank">JSON格式化</a>
	</div>
</div>
<div class="panel panel-primary mt-20">
	<div class="panel-header">库</div>
	<div class="panel-body">
		<h6>CSS</h6>
		<a href="http://www.dev.com/ule/lib/css-optimize.html" class="btn btn-warning radius size-MINI" target="_blank">CSS 优化方案</a>
		<a href="http://www.dev.com/ule/lib/css-reset.html" class="btn btn-warning radius size-MINI" target="_blank">css reset</a>
		<a href="http://www.dev.com/ule/lib/css-function.html" class="btn btn-warning radius size-MINI" target="_blank">css function</a>
		<a href="http://nec.netease.com/" class="btn btn-warning radius size-MINI" target="_blank">网易CSS方案</a>
		<h6>UI</h6>
		<a href="http://www.bootcss.com/p/flat-ui/" class="btn btn-warning radius size-MINI" target="_blank">Flat UI</a>
		<a href="http://www.h-ui.net/index.shtml" class="btn btn-warning radius size-MINI" target="_blank">H-ui 官网</a>
		<a href="http://www.dev.com/ule/lib/sh.html" class="btn btn-warning radius size-MINI" data-toggle="tooltip" data-placement="right" title="SyntaxHighlighter" target="_blank">代码高亮使用</a>
		<h6>jQuery</h6>
		<a href="http://jquery.com/" class="btn btn-warning radius size-MINI" target="_blank">jQuery 官网</a>
		<a href="http://api.jquery.com/" class="btn btn-warning radius size-MINI" target="_blank">jQuery Api</a>
		<a href="http://jquery.cuishifeng.cn/" class="btn btn-warning radius size-MINI" target="_blank">jQuery Api CN</a>
		<a href="https://code.jquery.com/jquery/" class="btn btn-warning radius size-MINI" target="_blank">jQuery All Download</a>
		<h6>Nodejs</h6>
		<a href="http://nodejs.cn/" class="btn btn-warning radius size-MINI" target="_blank">Nodejs CN</a>
	</div>
</div>
<div class="panel panel-primary mt-20">
	<div class="panel-header">技术站</div>
	<div class="panel-body">
		<a href="http://www.w3school.com.cn/index.html" class="btn btn-warning radius size-MINI" target="_blank">w3school</a>
	</div>
</div>
<!--<h2>如何创建邮乐活动？</h2>-->
<!--<ol>-->
	<!--<li>安装Git, 如何安装请自行查阅资料</li>-->
	<!--<li>安装Node.js, 如何安装请自行查阅资料</li>-->
	<!--<li>全局安装 uledev, 命令: <code>npm install -g uledev</code></li>-->
	<!--<li>创建个人活动开发目录</li>-->
	<!--<li>执行初始化命令: <code>uledev event init</code></li>-->
	<!--<li>执行创建命令: <code>uledev event</code></li>-->
	<!--<li>按照命令行提示输入指定内容</li>-->
	<!--<li>示例: <br><img src="/ulecdn/i/event-demo.png" alt=""></li>-->
<!--</ol>-->
<!--<a href="http://www.infoq.com/cn/articles/front-end-engineering-and-performance-optimization-part1"><h2>静态资源版本更新与缓存?</h2></a>-->
<!--<a href="http://www.infoq.com/cn/articles/front-end-engineering-and-performance-optimization-part2"><h2>静态资源管理与模板框架?</h2></a>-->
<!--<a href="http://www.infoq.com/cn/articles/front-end-engineering-pristine-part3"><h2>前端工程构建工具</h2></a>-->
<!--<a href="http://fis.baidu.com/"><h2>百度前端构建工具</h2></a>-->
<!--<h2>旧版CDN缓存用户名：tom_mv2  密码：tom_purge123</h2>-->
<!--<h2>白云山CDN缓存 ule_wd/Wd20161117</h2>-->
<script src="/ulecdn/j/jquery.js"></script>
<script src="/ulecdn/j/uledev.js"></script>
<script src="/ulecdn/lib/h-ui/j/h-ui.min.js"></script>
<script>
	$(function(){
		$("[data-toggle='tooltip']").tooltip();
	});
</script>
</body>
</html>